### ===== ignore all ===== ###
*
# /*
# /.**

### ===== not ignore ===== ###
!/.gitignore
!/.Brewfile
!/.zshrc

!/README.md
!/LICENSE

!/unused_setup_files/
!/unused_setup_files/**

!/unused_configs/
!/unused_configs/**

!/at_home_files/
!/at_home_files/**

!/backup_settings/
!/backup_settings/**

!/fedora/
!/fedora/**

!/scripts/
!/scripts/**

!/at_config_files/
!/at_config_files/.config/
!/at_config_files/.config/nvim/
!/at_config_files/.config/nvim/**
!/at_config_files/.config/yazi/
!/at_config_files/.config/yazi/**
!/at_config_files/.config/karabiner/
!/at_config_files/.config/karabiner/**
!/at_config_files/.config/xremap/
!/at_config_files/.config/xremap/**

!/at_config_files/.config/starship.toml

!/at_config_files/.config/git/
!/at_config_files/.config/git/ignore
!/at_config_files/.config/ghostty/
!/at_config_files/.config/ghostty/config
!/at_config_files/.config/mise/
!/at_config_files/.config/mise/config.toml
!/at_config_files/.config/zed/
!/at_config_files/.config/zed/settings.json
!/at_config_files/.config/zed/keymap.json
!/at_config_files/.config/yabai/
!/at_config_files/.config/yabai/yabairc
!/at_config_files/.config/skhd/
!/at_config_files/.config/skhd/skhdrc

# Ignore all .DS_Store files
*.DS_Store
