### ===== すべて除外 (ベース) ===== ###
*

### ===== ルート直下・共通ファイルの許可 ===== ###
!/.gitignore
!/.Brewfile
!/README.md
!/LICENSE
!/scripts/
!/scripts/**
!/setup.sh

### ===== 各ツールフォルダの許可 ===== ###
!/home/
!/home/**

!/nvim/
!/nvim/**
/nvim/.config/nvim/lazy-lock.json

!/ghostty/
!/ghostty/**

!/yazi/
!/yazi/**

!/karabiner/
!/karabiner/**
/karabiner/.config/karabiner/automatic_backups/

!/git/
!/git/**

!/starship/
!/starship/**

!/mise/
!/mise/**

!/zed/
!/zed/**
/zed/.config/zed/prompts/
/zed/.config/zed/keymap_backup.json

!/xremap/
!/xremap/**

### ===== 不要なゴミファイルの絶対除外 ===== ###
*.DS_Store
*.log
